@model ConsultaDocumentos.Web.Models.RoleViewModel

@{
    ViewData["Title"] = "Editar Perfil";
}

<h1>Editar Perfil de Acesso</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            @Html.HiddenFor(m => m.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Salvar
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
